* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
     background: radial-gradient(circle at top, black, rgb(18, 18, 57));
    color: white;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/e49aba81-ee7c-4f19-baef-7c54bbab003e/web/IN-en-20260202-TRIFECTA-perspective_04f5de39-b518-493c-9a8d-6aef11af0457_large.jpg");
    display: flex;
    flex-direction: column;
  }
  
  .hero::before {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,.8) 0%, rgba(0,0,0,.4) 40%, rgba(0,0,0,.8) 100%);
    z-index: 1;
  }
  
  
  .nav {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
  }
  
  .logo {
    height: 50px;
  }
  
  .nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50;  
  }
  
  .dropdown {
    position: relative;
  }
  
  .language {
    display: none;
    position: absolute;
    top: 35px;
    right: 5;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 6px;
    backdrop-filter: blur(8px);
  }
  
  .dropdown:hover .language {
    display: block;
  }
  
  
  .language a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 6px 0;
    font-size: 14px;
  }
  
  .language a:hover {
    color: rgb(38, 87, 178);
  }
  
  .sign-in {
    background: red;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .sign-in:hover{
    background-color: rgb(234, 46, 8);
    transform: scale(1.1);
    transition: 0.1s all ease-in-out
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
    margin: auto;
    text-align: center;
    max-width: 800px;
    padding: 20px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .email-box {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .email-box input {
    padding: 15px;
    width: 60%;
    max-width: 400px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
  }
  
  .email-box button {
    background: red;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .email-box button:hover {
    background-color: rgb(225, 85, 30);
     transform: scale(1.1);
    transition: 0.1s all ease-in-out
  }
  
  .trending {
    padding: 60px 40px;
  }
  
  .trending-row {
    display: flex;
    gap: 46px;
    flex-wrap: wrap;          
  }
  
  .trending-row img{
      border-radius: 10px;
  }
  
  .trending-row img:hover{
    box-shadow: whitesmoke;
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
  }
  
  .reasons {
    padding: 60px 40px;
  }
  
  .reason-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    height: 300px;
  }
  
  .reason-card {
    background: radial-gradient(rgb(223, 51, 80),rgb(237, 77, 162));
    padding: 30px;
    border-radius: 8px;
    text-align: center;
  }
  
  .faq {
    padding: 60px 40px;
  }
  
  details {
    background:rgb(24, 23, 23);
    margin-bottom: 10px;
    padding: 20px;
  }
  
  summary {
    font-size: 1.1rem;
  }
  
  .cta-section {
    text-align: center;
    padding: 60px 20px;
  }
  
  .cta-text {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  
  .bottom-email input {
    width: 400px;
    max-width: 90%;
  }
  
  .footer {
    padding: 60px 40px;
    background: black;
    color: rgb(213, 40, 40);
  }
  
  .questions {
    margin-bottom: 30px;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
  }
  
  .footer-grid div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer a {
    color: rgb(191, 191, 191);
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
   
  }